<div class="podcasts_intro">
</div>
<!-- /.podcast_intro -->
<div id="radio-player">
  <object id="myExperience2761555019001" class="BrightcoveExperience">
    <param name="bgcolor" value="#FFFFFF" />
    <param name="width" value="100%" />
    <param name="height" value="100%" />
    <param name="playerID" value="2730233951001" />
    <param name="playerKey" value="AQ~~,AAABCveqfDE~,4WT0xjonGpim_EgFFGfRAcl8BwbEJSgJ" />
    <param name="isVid" value="true" />
    <param name="isUI" value="true" />
    <param name="dynamicStreaming" value="true" />
    <param name="@videoPlayer" value="2761555019001" />
    <param name="autoStart" value="true" />
  </object>
  <script type="text/javascript">brightcove.createExperiences();</script>
</div>
<div id="xmlfeed">
  <div id="playingNow">
    <h3>What's Playing Now?</h3>
  </div>
  <div id="xmlfeed-inner"></div>
  <script type="text/javascript">
  var ninetyOne = setTimeout(function(){getXML("kbyrfeed");},3000);
  </script>

</div>