<div class ="podcasts_intro">
</div><!-- /.podcast_intro -->
<div id="radio-player-container">
  <div id="radio-player">
    <object id="myExperience2761551841001" class="BrightcoveExperience">
      <param name="bgcolor" value="#FFFFFF" />
      <param name="width" value="100%" />
      <param name="height" value="100%" />
      <param name="playerID" value="2730233951001" />
      <param name="playerKey" value="AQ~~,AAABCveqfDE~,4WT0xjonGpim_EgFFGfRAcl8BwbEJSgJ" />
      <param name="isVid" value="true" />
      <param name="isUI" value="true" />
      <param name="dynamicStreaming" value="true" />
      <param name="@videoPlayer" value="2761551841001" />
      <param name="autoStart" value="true" />
    </object>
    <script type="text/javascript">brightcove.createExperiences();</script>
  </div>
  <div id="xmlfeed">
    <div id="playingNow"><h3>What's Playing Now?</h3></div>
    <div id="xmlfeed-inner"></div>
    <script type="text/javascript">
    var jsonp = {
      callbackCounter: 0,
      fetch: function(url, callback) {
        var fn = 'mycallback_' + this.callbackCounter++;
        window[fn] = this.evalJSONP(callback);
        url = url.replace('=mycallback', '=' + fn);
        var scriptTag = document.createElement('SCRIPT');
        scriptTag.src = url;
        document.getElementsByTagName('HEAD')[0].appendChild(scriptTag);
      },
      evalJSONP: function(callback) {
        return function(data) {
          var validJSON = false;
          if (typeof data == "string") {
            try {validJSON = JSON.parse(data);} catch (e) {
            /*invalid JSON*/}
          } else {
            validJSON = JSON.parse(JSON.stringify(data));
            console.warn("response data was not a JSON string");
          }
          if (validJSON) {
            callback(validJSON);
          } else {
            throw("JSONP call returned invalid or empty JSON");
          }
        }
      }
    };
    var ninetyFourFM = "http://clients.webplaylist.org/cgi-bin/kbyi/won-a.json?callback=mycallback";
    jsonp.fetch(ninetyFourFM , function(data) {document.getElementById('xmlfeed-inner').innerHTML= data.show.title + '<br />' + data.show.info;});
    </script>
  </div>
</div>