.hero-feature {
	background:#333;
	position:relative;
	padding: 25px 0;
	color:white;

	.feature-image {
		height:auto;
		padding: 0;
	}
	.feature-caption {
		padding: 0;
		padding-left:4.7%;
		height:100%;
		.cap-title {
			margin-bottom:18px;
			font-weight: normal;
			font-size: 235%;
		}
		.cap-desc {
			font-weight:100;
			color:#eee;
			padding-left:10px;
			line-height:150%;
		}
		.cap-more {
			display: block;
			text-align: right;
			padding-top: 7px;
			width: 100%;
			a {
				color:gray;
			}
		}
		.cap-cta {
			position: relative;
			text-align: justify;
			padding:25px 18px 0 0;
			&:after {
				content: '';
				display: inline-block;
				width: 100%; /* Ensures there are at least 2 lines of text, so justification works */
			}
			.cta {
				color: white;
				display: inline-block;
				width: 80px;
				height: 80px;
				border-radius: 99px;
				padding-top: 28px;
				font-size: 125%;
				text-align: center;
				background-color: @byui-blue;
				border: 2px solid transparent;
				&:hover {
					text-decoration: none;
					border: 2px solid white;
				}
			}
		}
	}

	.rotate-left, .rotate-right {
		position: absolute;
		display: block;
		color:#888;
		background-color: rgba(34,34,34,.8);
		top:50%;
		font-size: 30px;
		margin-top: -32px;
		height: 64px;
		width: 36px;
		padding: 13px 0;
		text-align: center;
		cursor: pointer;
		&:hover {
			text-decoration: none;
			background-color: rgba(34,34,34,.9);
		}
	}
	.rotate-left {left:0;}
	.rotate-right {right:0;}
}

.master-search {
	display: block;
	position: relative;
	width: 100%;
	.search-icon {
		display: block;
		position: absolute;
		padding: 7px 14px;
		font-size: 160%;
		color:black;
		vertical-align: middle;
		z-index: 1;
		&:before {
			font-family: 'IcoMoon';
			content: "\e629";
		}
	}
	.master-query {
		position: relative;
		border: none;
		padding: 10px 0 6px 48px;
		margin: 0;
		width: 100%;
		font-size: 150%;
		background:#EFEFEF;
		&:focus + .search-dropdown {
			display: block;
		}
	}
	.search-dropdown {
		display: none;
		position: absolute;
		background: #EFEFEF;
		border-top: 1px solid #fefefe;
		width: 100%;
		padding: 5px 0;

		&:hover {
			display: block;
		}
		.dd-header {
			padding-left: 16px;
			color: #c8c8c8;
			font-style: italic;
		}
		.search-suggestions {
			.ajax-result {
				display: block;
				padding: 4px 16px;
				margin: 2px 0;
				font-size: 150%;
				color: #222;
				.suggestion-tag {
					text-transform: capitalize;
				}
				.suggestion-count {
					font-size: 80%;
					font-style: italic;
				}
				.suggestion-message {
					padding-left: 20px;
					font-size: 85%;
					color: #AAA;
					font-style: italic;
				}
				&:hover {
					background: #4d4d4d;
					color: white;
					text-decoration: none;
					.suggestion-tag, .suggestion-count {
						color: #CCC;
					}
				}
				&.not-result:hover {
					background: transparent;
					color: #222;
					.suggestion-tag, .suggestion-count {
						color: #222;
					}
				}
			}
		}
		.additional-options {
			padding: 5px 16px;

			input[type=checkbox] {
				display:none;
			}
			input[type=checkbox]:checked + .checkbox-label:before {
				content: '\e601';
			}
			.checkbox-label {
				font-weight: normal;
				margin-right: 15px;
				font-size: 110%;
				cursor: pointer;
				&:before {
					//Smoothing for fonticons
			        -webkit-font-smoothing: antialiased;
	                -moz-osx-font-smoothing: grayscale;
					font-family: 'check-boxes';
					content: '\e602';
					font-size: 16px;
					display: inline-block;
					width: 17px;
					height: 17px;
					vertical-align: text-top;
					text-align: left;
					line-height: 14px;
					margin-right:5px;
				}
			}
			input[type=submit] {
				display:block;
				font-size: 140%;
				padding: 3px 10px;
				float:right;
				margin-top: -7px;
				margin-bottom: 5px;
				border:none;
				border-radius: 4px;
				color: white;
				background-color: #333;
				&:hover {
					background-color: #222;
				}
			}
		}
	}
}

//Responsive tweaks
@media (max-width:767px) {
	.hero-feature .feature-caption {
		.cap-title {
			text-align:center;
		}
		.cap-desc {
			padding-left: 0;
			text-align:center;
		}
		.cap-cta {
			text-align: center;
			padding: 0;
			.cta {
				margin: 0 15px;
			}
		}
	}
} 