@aside-background-color: #F5F5F5;
@aside-header-color: #817876;

/*///////////// SIDEBARS ////////*/
.event-sidebar {
    .sidebar-inner {
        background-color: @aside-background-color;
        padding: 1em;
        margin-bottom: 1em;
        
        h3 {
            color: @aside-header-color;
            font-size: 1.2em;
            font-weight: bold;
            margin: 0 0 .5em;
            text-transform: uppercase;
        }
        
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }
    }
}