/* VARIABLES */
@contain: 0 1em;
@white: #fff;
@nav-background: #F5F5F5;
@nav-arrow__color: @white;
@nav-arrow__background: #AFB0B3;
@week-background: #35A847;
@caption-color: @white;



 .home-page {
    &__nav {
        padding: @contain;

        ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }
        
        li {
            background-color: @nav-background;
            font-weight: bold;
            font-size: 1.3em;
            padding: .75em 0 .75em 1em;
            margin: .5em 0;
            position: relative;
        }
        a {
            color: #333;
            text-decoration: none;
        }
        
        .nav-arrows {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            padding: 0 .8em;
            background-color: @nav-arrow__background;
            
            &:before {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: @nav-arrow__color;
            }
        }
    }
     
    .home-images {
        padding: @contain;
    }
    
    .home-image {
        position: relative;
        margin: 1em 0;
        
        figcaption {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
           /* IE9 SVG, needs conditional override of 'filter' to 'none' */
            background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzJjMmYzNSIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQwJSIgc3RvcC1jb2xvcj0iIzJjMmYzNSIgc3RvcC1vcGFjaXR5PSIwLjYiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzJjMmYzNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
            background: -moz-linear-gradient(top, rgba(44,47,53,0) 0%, rgba(44,47,53,0.6) 40%, rgba(44,47,53,1) 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(44,47,53,0)), color-stop(40%,rgba(44,47,53,0.6)), color-stop(100%,rgba(44,47,53,1))); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(top, rgba(44,47,53,0) 0%,rgba(44,47,53,0.6) 40%,rgba(44,47,53,1) 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(top, rgba(44,47,53,0) 0%,rgba(44,47,53,0.6) 40%,rgba(44,47,53,1) 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(top, rgba(44,47,53,0) 0%,rgba(44,47,53,0.6) 40%,rgba(44,47,53,1) 100%); /* IE10+ */
            background: linear-gradient(to bottom, rgba(44,47,53,0) 0%,rgba(44,47,53,0.6) 40%,rgba(44,47,53,1) 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002c2f35', endColorstr='#2c2f35',GradientType=0 ); /* IE6-8 */
        }
        
        &__when {
            background-color: @week-background;
            color: @caption-color;
            text-transform: uppercase;
            padding: .3em 1em;
            font-size: 1.1em;
            letter-spacing: .15em;
        }
        &__caption {
            color: @caption-color;
            padding: 0 1em;
            margin-top: .5em;
            
            .bold {
                font-size: 1.5em;
                font-weight: bold;
            }
            
        }
    }
     
     .home-image--collapsable {
         padding: 1em;
         
         .home-image__caption {
             color: #333;
             font-weight: bold;
             padding: 0;
             margin: 0;
             font-size: 1.2em;
         }
     }
}