@black: #333;

/******************Speaker Page************************/
.speaker-wrapper {

    .speaker-image {
        img {
            width: 100%;
        }
    }
    
    aside {
        h3 {
            padding: 0 0 .25em;
            margin-bottom: .25em;
            border-bottom: @black solid 1px;
        }
    }
    
    .speech-box {
        position:relative;
        h3 {
            font-style: italic;
            font-size: 165%;
            color: @black;
            font-weight: bold;
        }
        div {
            a {
                color: black;

                &:hover {
                    color: @byui-blue;
                    text-decoration: none;
                }
            }
        }
    }

    .speaker-name {
        border-bottom: @byui-blue solid 2px;
        margin-bottom: 25px;

        h2 {
            margin-top: 5px;
        }
    }
    
    .connect {
        min-height: 10px;
        margin-top: 15px;
        
        a {
            font-weight: bold;
        }
    }

    .speaker-speeches {

        .speaker-speeches-header {
            background-color: @byui-blue;
            color: white;
            font-weight: bold;
            padding: 5px;
        }

        .speaker-speeches-list {
            list-style: none;
            margin: 0;
            padding: 0;
        }
        .speaker-post-title {
            font-size: 1.2em;
        }
        .event-date {
            font-size: 1em;
            font-style: italic;
            font-weight: normal;
        }
    }
}